footer {

    #footer {
        background-color: rgb(16, 71, 69);
        min-height: 500px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }

    .itemFooter {
        display: flex;
        flex-direction: column;
        padding: 10px;

        h2 {
            align-self: center;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 930px) {
    #footer {
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
    }
    
    #direccionYmapa {
        grid-column: 1/3;
    }

    #mapaGoogle {
        width: 100%;
    }
}
