header{
    background-image: url(imagenes/laboratorio\ header\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 195px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
        height: 150px;
        width: 170px;
        margin-left: 16px;
        animation-name: giroLogo;
        animation-iteration-count: infinite;
        animation-delay: 7s;
        animation-timing-function: ease-in-out;
        animation-duration: 8s;
    }

    @keyframes giroLogo {
        10%{
            transform: rotate3d(1,1,1,90deg);
        }

        90%{
            transform: rotate3d(1,1,1,360deg);
        }
    }

    #contenedorGrupoIconos {
        width: 25vh;
        height: 12vh;

        .iconoGrpHeader{
            height: 30px;
            width: 30px;
            margin-right: 16px;

            &:hover {
                animation: latido 1s ease-in-out none infinite;
            }

            @keyframes latido {
                0%
                {
                  transform: scale( 1 );    
                }
                20%
                {
                  transform: scale( 1.25 );  
                }
                 40%
                {
                  transform: scale( 1.5 );
                }
            }
        }
    }
}