

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;

    .elementoMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            transform: scale(1.06);
            transition: all 0.7s;
        }

        .imagenGrpMain1{
            height: 200px;
            width: 200px;
            border: outset 4px aquamarine;
        }

        p {
            background-color: aquamarine;
            max-width: 300px;
            font-family: 'Dancing Script', cursive;
        }
    }
}