@import "_colores";

//Estilo

nav {
    background-color: map-get($map: $colores, $key: color1);
    text-align: center;

    #barraNavegaciónSuperior {
        display: flex;
        justify-content: center;

        .itemsNav1 {
            margin: 5px;
            padding: 5px;
            width: 110px;
            text-transform: uppercase;
            list-style: none;

            &:hover {
                background-color: map-get($map: $colores, $key: color2);;
                transition: 1.2s;
            }

            a {
                text-decoration: none;

                &:hover {
                    color: white;
                    transition: 1.2s;
                }
            }
        }
    }
}