// Importaciones

//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

//Etilos por secciones
@import "_body";
@import "_header";
@import "_nav";
@import "_main";
@import "_formularios";
@import "_footer";

// Variables 

// Colores

$color1: aquamarine;
$color2: #03adad;
$color3: rgba(126, 126, 252, 40%);
$color4: rgb(16, 71, 69);

// Fuentes
$fuente1: 'Dancing Script', cursive;

* {
    margin: 0px;
    padding: 0px;
}