// Importaciones

//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

//Etilos por secciones
@import "_header";

// Variables 

// Colores

$color1: aquamarine;
$color2: #03adad;
$color3: rgba(126, 126, 252, 40%);
$color4: rgb(16, 71, 69);

// Fuentes
$fuente1: 'Dancing Script', cursive;

